@charset "utf-8";
@font-face {
  font-family: slkscr;
  font-weight: bold;
  src: url('../fonts/slkscrb.ttf');
}
@font-face {
  font-family: slkscr;
  src: url('../fonts/slkscr.ttf');
}
@font-face {
  font-family: slkscre;
  font-weight: bold;
  src: url('../fonts/slkscreb.ttf');
}
@font-face {
  font-family: slkscre;
  src: url('../fonts/slkscre.ttf');
}