html {
	background: url(../img/Background2.gif) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
body p {
	text-align:center;
	font-family: slkscr;
	font-weight: bold;
	margin:0;
	}
	
subtitle {
	font-size:3vh;
	}
titlepanel{
    color: white;
	margin:auto 0;
	position:absolute;
	width:100%;
	top:1%;
	}
btitle{
	position:relative;
	height:8vh;
	margin:0 auto;
	font-size:8vh;
	font-family: slkscre;
	font-weight: bold;
	}
section {	
		font-family: slkscr;
		font-weight: bold;
        background: #000;
		background-clip:border-box;
        color: white;
        border-radius: 2em;
        padding: 1em;
        position: absolute;
        top: 55%;
        margin-left:50%;
        transform: translate(-50%, -50%)
	}