@charset "utf-8";
@font-face {
  font-family: slkscr;
  font-weight: bold;
  src: url('../Fonts/slkscrb.ttf');
}
@font-face {
  font-family: slkscr;
  src: url('../Fonts/slkscr.ttf');
}
@font-face {
  font-family: slksce;
  font-weight: bold;
  src: url('../Fonts/slkscreb.ttf');
}
@font-face {
  font-family: slkscre;
  src: url('../Fonts/slkscre.ttf');
}