<h1>One day...</h1>

<h2>We will Battle and Chat, {{name}}!</h2>

<div id="messages"></div>
<button onclick="openSocket()">Come at me</button>

<script src="../lib/jquery-1.11.3.js"></script>
<script src="../js/app.socket.js"></script>
