<h1>You have entered...</h1>

<h2>{{name}}'s game!</h2>

<form data-bind="submit: sendMessage">
    <input data-bind='value: appChatViewModel.messageToAdd, valueUpdate: "afterkeydown"' />
    <button type="submit" data-bind="enable: appChatViewModel.messageToAdd().length > 0">Send</button>
</form>

<div data-bind="foreach: appChatViewModel.messages">
    <p data-bind="text: $data" />
</div>

<script src="../lib/jquery-1.11.3.js"></script>
<script src="../lib/knockout-3.3.0.js"></script>
<script src="../js/app.socket.js"></script>
<script src="../js/app.chat.viewmodel.js"></script>
<script src="../js/_run.js"></script>
