<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="../style/fontStyle.css">
        <link rel="stylesheet" type="text/css" href="../style/gameStyle.css">
        <link rel="shortcut icon" href="../img/icon.png">
        <title>Battleship</title>
    </head>
    <body>
        <div id="animated-background"></div>
        <p id="game-title">{{name}}'s Game</p>
        <p id="phase"> <span data-bind="text: appGameStateViewModel.timeToPhaseChange"></span> : <span data-bind="text: appGameStateViewModel.phase"></span> </p>
        <div id="boards">
            <div id="left" class="active">
                <div id="tableleft" class="table" data-bind="foreach: appBoardViewModel.myBoard">
                    <div class="row" data-bind="attr: {'id': 'lrow' + $index()}, foreach: $data">
                        <div class="square" data-bind="attr: {'id' : 'lsquare' + $data.r + $data.c}">
                            <div class="wrapper">
                                <div data-bind="css: { firesquare: $data.state == 'HIT', splashsquare: $data.state  == 'MISS' }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="right" class="inactive">
                <div id="tableright" class="table" data-bind="foreach: appBoardViewModel.theirBoard">
                    <div class="row" data-bind="attr: {'id': 'rrow' + $index()}, foreach: $data">
                            <div class="square" data-bind="attr: {'id' : 'rsquare' + $data.r + $data.c}, css: { activesquare: $root.canFire() }, click: appBoardViewModel.shootMe">
                                <div class="wrapper">
                                <div data-bind="css: { firesquare: $data.state == 'HIT', splashsquare: $data.state  == 'MISS' }"></div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div id="lockship" data-bind="visible: appBoardViewModel.canPlaceShips()">
                <button id="sendShipPlacement" data-bind="enable: appBoardViewModel.enablePlacementButton()" onclick="appBoardViewModel.sendFleetPlacement()">
                   Ready
                </button>
            </div>
        </div>
        <div id="rightarrow">-&gt;</div>
        <div id="leftarrow">&lt;-</div>
        <div id="chat">
            <form data-bind="submit: sendMessage">
                <input id="chatinput" name="chatinput" data-bind='value: appChatViewModel.messageToAdd, valueUpdate:"afterkeydown"'>
                <button id="chatbutton" data-bind="enable: appChatViewModel.messageToAdd().length > 0" type="submit">Send</button>
            </form>
            <div id="chattextarea" data-bind="foreach: appChatViewModel.messages">
                <p data-bind="text:$data.message, attr:{'class' : $data.type}"></p>
            </div>
        </div>
        <div id="gameconfig"></div>
        <script src="../lib/jquery-1.11.3.js"></script>
        <script src="../lib/interact-1.2.5.js"></script>
        <script src="../lib/knockout-3.3.0.js"></script>
        <script src="../js/app.configuration.viewmodel.js"></script>
        <script src="../js/app.chat.viewmodel.js"></script>
        <script src="../js/app.gamestate.viewmodel.js"></script>
        <script src="../js/app.board.viewmodel.js"></script>
        <script src="../js/app.socket.js"></script>
        <script src="../js/app.game.js"></script>
        <script src="../js/_run.js"></script>
    </body>
</html>
